* {
    margin:0;
    box-sizing: border-box;
}
body {
    font-family: "Roboto", sans-serif;
    background: #F7F5FF;
}
h2 {
    margin: 16px;
}
.container {
    margin-top: 100px;
    padding: 32px;
     }
.selector-box {
   display: flex;
   width: 400px;
}
.select-box .options-container {
   background: #2F3648;
   color: #F5F6FA;
   /* max-height:0; */
   width:100%;
   /* opacity: 0; */
   transition: all 0.4s;
   border-radius: 8px;
   overflow: hidden;   
}
.select-box .options-container.active {
   max-height: 240px;
   opacity: 1;
   overflow-y: scroll;
}
.select-box .options-container::-webkit-scrollbar {
   width: 8px;
   background: #0D141F;
   border-radius: 0 8px 8px 0;
}
.select-box .option, 
.selected {
   padding: 12px 24px;
   cursor: pointer;    
}
.select-box .option:hover {
   background: #414B57;
}
.select-box label {
   cursor:pointer;
}
.select-box .option .radio {
   display:none;
}

#overlay {
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=70);
    -moz-opacity:0.7;
    -khtml-opacity: 0.7;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.crypto1 a  {
    text-decoration: none;
}

.popup  {
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    display: none;
    z-index: 101;
    position: center;
}
    
.crypto1    {
    min-width: 600px;
    width: 600px;
    min-height: 150px;
    margin: 100px auto;
    background: #f3f3f3;
    position: relative;
    z-index: 103;
    padding: 35px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 5px #000;
}

.crypto1 h1 {
    text-align: center;
    padding-bottom: 5%;
}
    
.crypto1 p  {
    clear: both;
    color: #555555;
    text-align: justify;
    font-size: 20px;
    font-family: sans-serif;
}
    
.crypto1 p a    {
    color: #2F3648;
    font-weight: bold;
    float: right
}
    
.crypto1 .x {
    float: left;
    height: 35px;
    left: 22px;
    position: relative;
    top: -25px;
    width: 34px;
}
    
.crypto1 .x:hover   {
    cursor: pointer;
}